<!DOCTYPE html>
<html>
  <head>
    <title>SysdevProj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
      <nav class = "redTeamLinks">
  		<h1><center>RedTeam!</center></h1>
  		<nav><center>
  			<%= link_to 'Home', root_path %>
  			<%= link_to 'Ingredients', ingredients_path %>
  			<%= link_to 'Suppliers', suppliers_path %>
  			<%= link_to 'Orders', orders_path %>
      </center>
  		</nav>
    </nav>
  	</header>
    <%= yield %>
  </body>
</html>
